@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*mogłem to wpakować w Sass-a :P*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  /*scroll-behavior: smooth;*/
}

body{
  background-color: #717171;
  background: url("img/bg.jpg");
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 220px;
  height: 100%;
  background: #4b4276;
  position: fixed;
}

.wrapper .sidebar .sidebar-top h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

.wrapper .sidebar .sidebar-top ul li{
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(226,226,226,0.1);
  border-top: 1px solid rgba(226,226,226,0.1);
  height: 50px;
}    

.wrapper .sidebar .sidebar-top ul li a{
  color: #bdb8d7;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 20px;
}

.wrapper .sidebar .sidebar-top ul li a .fas{ /* fonty (ikonki) */
  width: 25px;
  font-size: 20px;
  margin-right: 10px;
}

.wrapper .sidebar .sidebar-top ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar .sidebar-top ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .sidebar-bottom{
  height: 100%;
  background-color: #594f8d;
  padding-top: 100px;
}

.wrapper .sidebar .sidebar-bottom ul li{
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(226,226,226,0.1);
  border-top: 1px solid rgba(226,226,226,0.1);
  height: 50px;
} 

.wrapper .sidebar .sidebar-bottom ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 20px;
}

.wrapper .sidebar .sidebar-bottom ul li:hover a{
  background-color: #4b4276;
}

/*#########################################################*/
.wrapper .main_content{
  margin-left: 220px;
}

.wrapper .main_content .header{
  background-color: #594f8d;
  color: #717171;
  /*border-bottom: 1px solid #e0e4e8;*/
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1; /* <--- żeby kafelki .square po scrollowaniu były "pod" .header*/
}

.wrapper .main_content .info{
  margin-top: 90px;
  width: 100;
  height: 100%;
  line-height: 25px;
}

.wrapper .main_content .info .warn{
  text-align: center;
  padding: 40px;
}

.wrapper .main_content .info .warn .msg{
  background-color: rgb(210, 0, 0);
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  border-radius: 20px;
  font-size: 26px;
  line-height: 30px;
  color: rgb(226, 226, 226);
  padding: 20px;
}

.wrapper .main_content .info .square{
  text-align: justify;
  background-color: rgb(243, 243, 243);
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  width: 380px;
  height: 280px;
  float: left;
  padding: 15px;
  border-radius: 20px;
  position: relative;
}

.sign-out{
  line-height: 90px;
  text-align: center;
  text-align: right;
  padding-right: 240px;
  color: rgb(240, 240, 240);
  display: block;
  height: 100%;
}

.btn{
  color: #bdb8d7;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  margin: 20px;
  height: 50px;
  padding: 15px;
  background-color: #594f8d;
}

.btn:hover{
  cursor: pointer;
  color: black;
  background-color: #4b4276;
  color: #fff;
  border-radius: 10px;
}

.btn2{
  color: #bdb8d7;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px;
  background-color: #4b4276;
  text-align: center; 
  width: 65%;
  transition: .5s;
 }
  
.btn2:hover{
  cursor: pointer;
  background-color: #594f8d;
  color: #fff;
  border-radius: 10px;
  width: 85%;
  transition: .5s;
}

.logo-header{
  height: 100%;
  float: left;  
}

.logo-header img{
  height: 70px;
  width: auto;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: #bdb8d7;
}

.wrapper .main_content .header .sign-out a{
  color: #bdb8d7;
  padding: 15px;
  font-size: 20px;
}

.wrapper .main_content .header .sign-out a:hover{
  color: black;
  background-color: #4b4276;
  color: #fff;
  border-radius: 10px;
}

.wrapper .main_content .header .sign-out .fas{
  padding-left: 10px;
}

.scrollup{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("img/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
  display: none;
}

.test{
  position: absolute;
  width: 350px;
  text-align: center;
  bottom: 0;
}